<%= form_for(@assemblage) do |f| %>
  <% if @assemblage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assemblage.errors.count, "error") %> prohibited this assemblage from being saved:</h2>

      <ul>
      <% @assemblage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<table class="table">
  <thead>
    <tr>
       <th><%= f.label :material_id %><br></th>
       <th><%= f.label :code %></th>
      <th><%= f.label :name %></th>   
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <%= f.collection_select(:material_id, Material.all, :id, :name) %></td>
      <td><%= f.text_field :code %></td>
      <td><%= f.text_field :name %></td>
    </tr>
  </tbody>
</tr>

</table>

<table class="table">
  <thead>
    <tr>
    <th> <%= f.label :height %></th>
    <th> <%= f.label :depth %></th>
    <th> <%= f.label :width %></th>
  </tr>
   </thead> 
   <tbody>
    <tr>
      <td><%= f.number_field :height %></td>
      <td><%= f.number_field :depth %></td>
      <td><%= f.number_field :width %></td>
    </tr> 
   </tbody> 
</table> 

<table class="table">
  <thead>
    <tr>
      <th> Finisaj </th>
      <th> Accesorii </th>
    </tr>
  </theadL>
  <tbody>
    <tr>
       <td> <%= f.collection_select(:finish_id, Finish.all, :id, :name) %></td>
       <td> <%=  f.autocomplete_field :accesory_name, autocomplete_accesory_name_accesories_path, :size => 50, :id_element => '#accesory_id' %>
      </td>

    </tr>
  </tbody>
</table>

   


  <div class="actions">
    <%= f.submit %>   

    <% if @assemblage.persisted? %>
      <%= render :partial => "subassemblages/index" if @subassemblages %>

      <%= link_to "<i class='glyphicon glyphicon-plus'></i>&nbsp; Adauga Subasamblaj".html_safe, new_subassemblage_path(:assemblage_id=> @assemblage.id), :class => "btn btn-primary pull-left" %>

       <%= link_to "<i class='glyphicon glyphicon-plus'></i>&nbsp; Calculeaza Pret".html_safe, assemblage_price_path(:assemblage_id=> @assemblage.id), :class => "btn btn-default pull-left" %>

       
    <% end %>    
  </div>


<% end %>
