<table class="table">
  <thead>
    <tr>
    <td>Volum Net</td>
    <td><%= @assemblage.net_volume %></td>
  </tr>
  <tr>
    <td>Suprafata Neta</td>
    <td><%= @assemblage.net_surface %></td>
  </tr>
  <tr>
    <td>Volum Brut</td>
    <td><%= @assemblage.brut_volume %></td>
  </tr>
  <tr>
     <td>Suprafata Bruta </td>
     <td><%= @assemblage.brut_surface %></td>
  </tr>
  </thead> 
</table>