<h1>Ansamblu</h1>

<%= render 'form' %>

 <%= link_to "<i class='glyphicon glyphicon-check'></i>&nbsp; Arata Detalii".html_safe, @assemblage, :class => "btn btn-default pull-left" %>

 <%= link_to "<i class='glyphicon glyphicon-arrow'></i>&nbsp; Inapoi".html_safe, assemblages_path, :class => "btn btn-default pull-left" %>

