<% provide(:title, 'Lista Ansambluri') %>

<h1>Ansambluri</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Cod</th>
      <th>Nume<th>
      <th>Consumuri</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assemblages.each do |assemblage| %>
      <tr>
        <td><%=assemblage.code%></td>
        <td><%=assemblage.name%></td>
        <td colspan="3"><%=assemblage.height%> X <%=assemblage.width%> X <%=assemblage.depth%></td>
        <td colspan="3"><%= link_to 'Arata detalii', assemblage %>
        <%= link_to 'Actualizeaza', edit_assemblage_path(assemblage) %>
        <%= link_to 'Sterge', assemblage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adauga Ansamblu', new_assemblage_path %>
