<h1> Calculator Preturi Ansamblu </h1>
<h2><%= @assemblage.code %> <%= @assemblage.name %> </h2>
 <%= render 'volumes' %>

 <h2> Cost materie prima consumata: <%= @cost_material_prim_domestic %> </h2>

 <h2> Total cost procesare valuta domestica (RON) <%= @processing_cost_domestic %></h2>

