<% provide(:title, 'Detalii Ansambluri') %>

<h1>Detalii Ansamblu</h1>
<%= render 'form' %>


<%= link_to 'Actualizeaza', edit_assemblage_path(@assemblage) %> |
<%= link_to 'Inapoi', assemblages_path %>
