<div class="center jumbotron">
  <h1>Calculator Preturi </h1>

  <h2>
    This is the home page for the Price Calculator Sample App powered by Alson Energy Trading SRL
  </h2>

  <%= link_to "Inregistrati-va", signup_path, class: "btn btn-lg btn-primary" %>
</div>
