<%= form_for(@accesory) do |f| %>
  <% if @accesory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accesory.errors.count, "error") %> prohibited this accesory from being saved:</h2>

      <ul>
      <% @accesory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
   <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.collection_select(:currency_code, Currency.all, :code, :name, {:include_blank => 'RON'}) %></td>
  </div>

  <div class="field">
    <%= f.label :um %><br>
    <%= f.text_field :um %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
