<p id="notice"><%= notice %></p>

<h1>Lista Accesorii</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Cod</th>
      <th>Nume</th>
      <th>Pret</th>
      <th>Unitate de masura</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accesories.each do |accesory| %>
      <tr>
        <td><%= accesory.code %></td>
        <td><%= accesory.name %></td>
        <td><%= accesory.price %></td>
        <td><%= accesory.um %></td>
        <td><%= link_to 'Show', accesory %>|
        <%= link_to 'Edit', edit_accesory_path(accesory) %>|
        <%= link_to 'Destroy', accesory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adauga Accesoriu', new_accesory_path %>
