<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @accesory.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @accesory.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @accesory.price %>
</p>

<p>
  <strong>Um:</strong>
  <%= @accesory.um %>
</p>

<%= link_to 'Actualizeaza', edit_accesory_path(@accesory) %> |
<%= link_to 'Inapoi', accesories_path %>
