<%= form_for(@element) do |f| %>
  <% if @element.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@element.errors.count, "error") %> prohibited this element from being saved:</h2>

      <ul>
      <% @element.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @element.persisted? %>
  <%= f.hidden_field :subassemblage_id, value: @element.subassemblage_id%>
<%else %>
  <%= f.hidden_field :subassemblage_id, value: params[:subassemblage_id] %>
<%end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label :width %><br>
    <%= f.text_field :width %>
  </div>
  <div class="field">
    <%= f.label :depth %><br>
    <%= f.text_field :depth %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    
    <%= f.submit "Inregistrare" , :class => 'btn btn-primary pull-right'%>
  </div>
<% end %>
