<% provide(:title, 'Lista elemente') %>
<h1>Lista elemente</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Height</th>
      <th>Width</th>
      <th>Depth</th>
      <th>Quantity</th>
      <th colspan="3"> Actiuni</th>
    </tr>
  </thead>

  <tbody>
    <% @elements.each do |element| %>
      <tr>
        <td><%= element.name %></td>
        <td><%= element.height %></td>
        <td><%= element.width %></td>
        <td><%= element.depth %></td>
        <td><%= element.quantity %></td>
        <td><%= link_to 'Arata detalii', element %></td>
        <td><%= link_to 'Actualizeaza', edit_element_path(element) %></td>
        <td><%= link_to 'Sterge', element, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


