<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @element.name %>
</p>

<p>
  <strong>Height:</strong>
  <%= @element.height %>
</p>

<p>
  <strong>Width:</strong>
  <%= @element.width %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @element.depth %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @element.quantity %>
</p>

<%= link_to 'Actualizeaza', edit_element_path(@element) %> |
<%= link_to 'Inapoi', edit_subassemblage_path(@element.subassemblage_id) %>
