<%= form_for(@subassemblage) do |f| %>
  <% if @subassemblage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subassemblage.errors.count, "error") %> prohibited this subassemblage from being saved:</h2>

      <ul>
      <% @subassemblage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% if @subassemblage.persisted? %>
  <%= f.hidden_field :assemblage_id, value: @subassemblage.assemblage_id%>
<%else %>
  <%= f.hidden_field :assemblage_id, value: params[:assemblage_id] %>
<%end %>
<div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>


   <div class="field">
    <%= f.label :height %><br>
    <%= f.number_field :height %>
  </div>

 <div class="field">
    <%= f.label :width %><br>
    <%= f.number_field :width %>
  </div>

   <div class="field">
    <%= f.label :depth %><br>
    <%= f.number_field :depth %>
  </div>

 <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
     <% if @subassemblage.persisted? %>
      <%= render :partial => "elements/index" if @elements %>
      <%= link_to "Add Element ", new_element_path(:subassemblage_id=> @subassemblage.id)%>
      <% end %>
  </div>
<% end %>
