<table class="table table-stripped">
  <thead>

    <tr>
      <th>Cod</th>
      <th>Nume</th>
      <th>Consumuri</th>
      <th>Nr bucati </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subassemblages.each do |subassemblage| %>
      <tr>
        <td><%= subassemblage.code %> </td>
        <td><%= subassemblage.name %> </td>
        <td><%= subassemblage.height %> X <%= subassemblage.width%> X <%= subassemblage.depth %> </td>
        <th><%= subassemblage.quantity %>
        <td colspan="3"><%= link_to 'Arata detalii', subassemblage %>
        <%= link_to 'Actualizeaza', edit_subassemblage_path(subassemblage) %>
        <%= link_to 'Sterge', subassemblage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>