<% provide(:title, @subassemblage.name) %>
<h1>Detalii Subansamblu</h1>

<%= render 'form' %>

<%= link_to 'Actualizeaza', edit_subassemblage_path(@subassemblage) %> |
<%= link_to 'Back', edit_assemblage_path(@subassemblage.assemblage_id	) %>
