<p id="notice"><%= notice %></p>

<h1>Rate de schimb valutar </h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Cod</th>
      <th>Nume</th>
      <th>Rata de schimb</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @currencies.each do |currency| %>
      <tr>
        <td><%= currency.code %></td>
        <td><%= currency.name %></td>
        <td><%= currency.rate %></td>
        <td><%= link_to 'Show', currency %> |
        <%= link_to 'Edit', edit_currency_path(currency) %> |
        <%= link_to 'Destroy', currency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adauga Moneda', new_currency_path %>
