<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label"><%= f.label :name %><br></label>
  <div class="controls">
    <%= f.text_field :name %>
  </div>
  </div>
  <div class="control-group">
                    <label class="control-label">Address Line 1</label>
                    <div class="controls">
                        <%= f.text_field :address_line1, placeholder: "address line 1" %>
                        <p class="help-block">Street address, P.O. box, company name, c/o</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Address Line 2</label>
                    <div class="controls">
                        <input id="address-line2" name="address-line2" type="text" placeholder="address line 2" class="input-xlarge">
                        <p class="help-block">Apartment, suite , unit, building, floor, etc.</p>
                    </div>
                </div>
  <div class="control-group">
    <label class="control-label"><%= f.label :email %></label>
    <div class="controls">
    <%= f.text_field :email %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
