<%= form_for(@finish) do |f| %>
  <% if @finish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@finish.errors.count, "error") %> prohibited this finish from being saved:</h2>

      <ul>
      <% @finish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
   <div class="field">
    <%= f.label :currency_code %><br>
    <%= f.collection_select(:currency_id, Currency.all, :id, :name) %></td>
  </div>
  <div class="field">
    <%= f.label :um %><br>
    <%= f.text_field :um %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
