<p id="notice"><%= notice %></p>

<h1>Lista Finisaje</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Cod</th>
      <th>Nume</th>
      <th>Pret </th>
      <th>Unitate de masura</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @finishes.each do |finish| %>
      <tr>
        <td><%= finish.code %></td>
        <td><%= finish.name %></td>
        <td align="right"><%= finish.price %> (<%= finish.currency_code %>)</td>
        <td><%= finish.um %></td>
        <td><%= link_to 'Show', finish %>|
        <%= link_to 'Edit', edit_finish_path(finish) %>
        <%= link_to 'Destroy', finish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adauga Finisaj', new_finish_path %>
