<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @finish.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @finish.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @finish.price %>
</p>

<p>
  <strong>Um:</strong>
  <%= @finish.um %>
</p>

<%= link_to 'Edit', edit_finish_path(@finish) %> |
<%= link_to 'Back', finishes_path %>
