<p id="notice"><%= notice %></p>

<h1>Listing Materials</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Cod material</th>
      <th>Nume material </th>
      <th>Price</th>
      <th>Output coefficient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td><%= material.code %></td>
        <td><%= material.name %></td>
        <td><%= material.price %></td>
        <td><%= material.output_coefficient %></td>
        <td><%= link_to 'Show', material %></td>
        <td><%= link_to 'Edit', edit_material_path(material) %></td>
        <td><%= link_to 'Destroy', material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Material', new_material_path %>
