<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @material.code%>
</p>
<p>
  <strong>Name:</strong>
  <%= @material.name%>
</p>

<p>
  <strong>Price:</strong>
  <%= @material.price %>
</p>

<p>
  <strong>Output coefficient:</strong>
  <%= @material.output_coefficient %>
</p>


<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
