<%= form_for(@expense) do |f| %>
  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% @expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field-large">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :domestic_value %><br>
    <%= f.text_field :domestic_value %>
  </div>
  <div class="field">
    <%= f.collection_select(:currency_id, Currency.all, :id, :name) %></td>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
