<p id="notice"><%= notice %></p>

<h1>Cheltuieli</h1>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Valoare in RON </th> 
        <th>Valoare in moneda straina </th>
        <th colspan="3"> Actiuni</th>
      </tr>
    </thead>

    <tbody>
      <% @expenses.each do |expense| %>
        <tr>
          <td><%= expense.code %></td>
          <td><%= expense.name %></td>
          <td align="right"><%= expense.domestic_value %></td>
          <td align="right"><%= expense.currency_value %> (<%= expense.currency_code %>)</td>
          <td><%= link_to 'Show', expense %></td>
          <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
          <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2"> Total cost procesare/mc cherestea </td>
        <td align="right"> <%= @total_processing_cost_domestic %> </td>
        <td align="right"> <%= @total_processing_cost_currency %> </td>
      </tr>
  </tfoot>
  </table>
</div>
<br>

<%= link_to 'New Expense', new_expense_path %>
