<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @expense.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @expense.name %>
</p>

<p>
  <strong>Domestic value:</strong>
  <%= @expense.domestic_value %>
</p>

<p>
  <strong>Currency code:</strong>
  <%= @expense.currency_code %>
</p>

<p>
  <strong>Currency value:</strong>
  <%= @expense.currency_value %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
