<footer class="footer">
  <small>
    Price Calculator Application developed by Alson
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.happy-home.ro/">News</a></li>
    </ul>
  </nav>
</footer>