<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Price calculator", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
          <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Administrare <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">          
              <li><%= link_to "Materiale", materials_path %></li>     
              <li><%= link_to "Accesorii", accesories_path %></li>  
              <li><%= link_to "Finisaje", finishes_path %></li>    
           </ul>
        </li>
         <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Ofertare <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Clienti", clients_path %></li>
              <li><%= link_to "Ansambluri", assemblages_path %></li>
            </ul>
          </li>
          <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Cheltuieli <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Rate de schimb", currencies_path %></li>    
              <li><%= link_to "Cheltuieli", expenses_path %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>